<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Aula 02 - Curso de Angular</title>
    <script src="../js/angular.min.js"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>-->
</head>
<body>
    Busca: <input type="text" ng-model="filtro">
    <div ng-controller="CtrlLista">
        <ul>
            <li ng-repeat="pessoa in pessoas | filter:filtro">{{ pessoa.nome }}, {{pessoa.cidade}}</li>
        </ul>
    </div>

    <script>
        var minhaApp = angular.module('app',[]);

        var meuControle =  function($scope) {
            $scope.pessoas = [
                {nome: "Maria", cidade: "Crato"},
                {nome: "Antônio", cidade: "Barbalha"},
                {nome: "Cícero", cidade: "Juazeiro do Norte"}
            ];
        };

        minhaApp.controller('CtrlLista', meuControle);
    </script>


</body>
</html>

